.BlogGrid {
    padding: 100px 0;
}

.BlogDetailContainer {
    width: 100%;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.BlobLeft, .BlobRight {
    position: absolute;
    width: 28%;
    z-index: -2;
}

.BlobLeft {
    top: 50px;
    left: -50px;
    transform: rotate(-180deg);
}

.BlobRight {
    bottom: 50px;
    right: -50px;
}

.BlogDetail {
    width: 100%;
    max-width: 1020px;
    padding: 0 10px;
    margin: auto;
}

.BlogDetail h2 {
    line-height: 2;
    color: #707070;
    max-width: 900px;
    margin: auto;
    word-wrap: break-word;
}

.DetailImageContainer {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #BCBCBC;
    margin: auto;
}

.DetailImageContainer img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.DetailContent {
    padding: 10px 40px;
    max-width: 940px;
    margin: auto;
}

.TimeDiv {
    margin: 10px 0;
}

.TimeDiv h3 {
    color: #6E6E6E;
    font-size: 18px;
}

.TimeDiv > p {
    color: #6E6E6E;
    font-size: 16px;
}

.DetailContent > p:nth-child(2) {
    color: #6C6F73;
    line-height: 2;
}

.BlogDetailCoverContainer {
    position: relative;
    height: 380px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.BlogDetailCoverContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/blog-detail-cover.png");
    z-index: -100;
    object-fit: cover;
}

.BlogDetailCover {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    padding: 115px 10px 0 10px;
}

.BlogDetailCover p {
    color: #D3D3D3;
    line-height: 2;
}

.BlogDetailCover h2 {
    max-width: 800px;
    color: white;
}

@media only screen and (max-width: 1020px) {
    .BlogDetailCover h2 {
        font-size: 28px;
        line-height: 2;
    }
}

@media only screen and (max-width: 768px) {
    .BlogDetailCover h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 625px) {
    .BlogDetailCoverContainer {
        text-align: center;
    }
}