.HomeCardsContainer {
    display: flex;
    align-items: center;
    height: 450px;
    width: 100%;
}

.HomeCards {
    width: 100%;
    max-width: 1120px;
    padding: 0 20px;
    margin: auto;
}

.HomeCards p {
    color: #000000;
}

.HomeCards h1 {
    font-size: 28px;
}

.HomeCardsFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.HomeCard {
    position: relative;
    width: 300px;
    height: 200px;
    text-align: center;
    /* background-color: aqua; */
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 12px #00000029;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #164A9F;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 5px;
    transition: .5s ease;
    z-index: -1;
}


.HomeCard img {
    width: 65px;
}


.HomeCard:hover .overlay {
    bottom: 0;
    height: 100%;
}


.HomeCard:hover p {
    color: white;
}

.HomeCard:hover .HomeCardImg1 {
    display: none;
}

.HomeCard:hover .HomeCardImg2 {
    display: unset;
}

.HomeCardImg2 {
    display: none;
}

@media only screen and (max-width: 768px) {
    .HomeCardsContainer {
        height: 700px;
    }

    .HomeCardsFlex {
        justify-content: center;
        height: 500px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .HomeCardsContainer {
        height: 900px;
    }

    .HomeCardsFlex {
        justify-content: center;
        height: 700px;
        flex-wrap: wrap;
    }
}